{% macro render_field(field) %} <!-- macro マクロ名(引数)※引数でfieldを受け取る -->

<!-- ラベルを表示する場合はテンプレートにラベルの内容を記述(create_post.html参照) -->
{{ field(**kwargs)|safe }}  <!-- 受け取ったフィールドをそのまま(=エスケープ処理せず)表示している -->
<!-- ↑↑↑「**kwargs」=任意の数の引数を辞書で渡すことができる -->
<!-- ↑↑↑「|(パイプオペレーター)」=変数に対して何らかの処理(=フィルタ)を適用するjinja2の機能　※記述：変数名|フィルター名↑↑↑ -->
<!-- ↑↑↑変数の値に対して指定した処理を行った値を表示する　※https://jinja.palletsprojects.com/en/3.0.x/templates/#builtin-filters↑↑↑ -->
<!-- ↑↑↑パイプオペレーターはhelper以外でも通常のテンプレートでも使用可能↑↑↑ -->
<!-- ↑↑↑safe=この変数を自動的にエスケープしている環境でエスケープ処理をしない↑↑↑ -->
<!--        =変数はすでにエスケープ処理をされているのでここではエスケープ処理をしない -->
<!-- ↑↑↑エスケープ処理=文字列を扱う時にその言語で特別な意味のある文字列を別の文字列に置き換える処理↑↑↑ -->
<!-- 例(HTML):「<」を文字として表示する場合は「&lt;」をhtmlファイルに記述する。これによりブラウザは表示するときに「&lt;」を「<」に変換する -->
<!-- WTFormsのfieldではすでにエスケープが行われているのでこのタイミングでエスケープする必要がない=safeでエスケープ処理せずに出力している -->

<!-- ↓↓↓入力フィールドの下にエラーメッセージを表示↓↓↓ -->
{% if field.errors %}   <!-- エラーメッセージがあるか確認(エラーメッセージは各フィールドのerrorsに格納されている) -->
    <br>
    {% for error in field.errors %} <!-- 複数のエラーメッセージがあった場合の対応 -->
        {{ error }} <!-- エラーメッセージを1つずつ表示 -->
    {% endfor %}
{% endif %}

{% endmacro %}  <!-- マクロの終わりを明示 -->