{% extends "base.html" %}
{% block content %}

    <div class="container my-3 py-4 bg-light">
        <div class="row">
            <div class="col-md-3">
                <button type="button"class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#del_modal">
                    削除
                </button>
            </div>
        </div>
    </div>

    <section id="category_update">
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <div class="card bg-success text-center">
                        <div class="card-body text-light">
                            <h3>カテゴリ更新</h3>
                            <p>カテゴリを変更してください</p>
                            <form method="post">
                                {{ form.hidden_tag() }}
                                {{ render_field(form.category, placeholder="カテゴリ名", class="form-control form-control-lg mb-3") }}
                                {{ form.submit(class="btn btn-outline-light w-100") }}
                                <!-- <input type="text" class="form-control form-control-lg mb-3" placeholder="カテゴリ名">
                                <button type="button" class="btn btn-outline-light w-100">更新</button> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade text-start text-dark" id="del_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">削除確認</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    このカテゴリを削除しますか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <form action="{{ url_for('main.delete_category', blog_category_id=form.id) }}" method="post">
                        <input type="submit" class="btn btn-danger" value="削除">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}