{% extends "base.html" %}
{% block content %}
    <div class="container my-3">
        <div class="row">
            <div class="col">   <!-- <div class="col-lg4 mx-auto"> -->
                <div class="card">
                    <div class="card-header">
                        <h3>お問い合わせ</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% if inquiry_id %}
                            <fieldset disabled>
                            {% endif %}
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.name.label(class="form-control-label") }}
                                {{ render_field(form.name, class="form-control") }}
                                <!-- <label class="form-control-label">お名前(必須)</label>
                                <input type="text" class="form-control"> -->
                            </div>
                            <div class="mb-3">
                                {{ form.email.label(class="form-control-label") }}
                                {{ render_field(form.email, class="form-control") }}
                                <!-- <label class="form-control-label">メールアドレス(必須)</label>
                                <input type="text" class="form-control"> -->
                            </div>
                            <div class="mb-3">
                                {{ form.title.label(class="form-control-label") }}
                                {{ render_field(form.title, class="form-control")}}
                                <!-- <label class="form-control-label">題名</label>
                                <input type="text" class="form-control"> -->
                            </div>
                            <div class="mb-3">
                                {{ form.text.label(class="form-control-label") }}
                                {{ render_field(form.text, class="form-control", rows="6") }}
                                <!-- <label class="form-control-label">メッセージ本文(必須)</label>
                                <textarea class="form-control" rows="6"></textarea> -->
                            </div>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% if not inquiry_id %}
                                            {{ form.submit(class="btn btn-success w-100") }}
                                            <!-- <button type="submit" class="btn btn-success w-100">送信</button> -->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if inquiry_id %}
                                </fieldset>
                                {% if current_user.is_administrator() %}
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#del_modal">削除</button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {% if inquiry_id %}
        <div class="modal fade text-start text-dark" id="del_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">削除確認</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        このお問い合わせを削除しますか？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <form action="{{ url_for('main.delete_inquiry', inquiry_id=inquiry_id) }}" method="post">
                            <input type="submit" class="btn btn-danger" value="削除">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
