{% extends "base.html" %}
{% block content %}

    <div class="container my-3 py-3 bg-light">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>ユーザー管理</h1>
            </div>
        </div>
    </div>

    {% if current_user.is_administrator() %}    <!-- 現在のユーザーが管理者の場合のみ表示(権限制御) -->
    <div class="container my-3 py-3 bg-light">
        <div class="row">
            <div class="col-md-3">
                <a href="{{url_for('users.register')}}" class="btn btn-primary w-100">ユーザー登録</a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container my-3">
        <div class="row">
            <div class="card col-md-9">
                <div class="card-header">
                    <h4>最新のユーザー</h4>
                </div>
                <div class="table-responsive">  <!-- tableタグをtable-responsiveで囲むと水平方向のスクロールができる -->
                    <table class="table table-striped text-nowrap"> <!-- tableタグにtext-nowrapを付けると折り返しを抑止する(Utilities>Text) -->
                        <thead class="table-dark">
                            <tr>
                            <th>ID</th>
                            <th>ユーザー名</th>
                            <th>メールアドレス</th>
                            <th>管理者</th>
                            <th>ブログ投稿数</th>
                            <th>変更</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- for user in users --> <!-- usersテーブルの情報を表示するためfor文を記述 -->
                            {% for user in users.items %}   <!-- ページネーションで分割された後のデータから現在のページのレコードを取得するには[.items]を追記 -->
                            <!-- ページネーションオブジェクトの属性の種類:Python+Flask動画>セクション10>103.ページネーション2>0:45頃を参照 -->
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username | truncate(10) }}</td>
                                <td>{{ user.email | truncate(20) }}</td>
                                <td>{{ user.administrator }}</td>
                                <td><a href="{{ url_for('users.user_posts', user_id=user.id) }}">{{ user.count_posts(user.id) }}</a></td>
                                <!-- 管理者orログインユーザー本人の場合のみ変更ボタンを表示 -->
                                <td>{% if current_user.is_administrator() or current_user.id == user.id %}<a href="{{ url_for('users.account', user_id=user.id) }}" class="btn btn-secondary">変更</a>{% endif %}</td>
                                <!-- 更新フォームを表示するview関数：accountを指定 ※「def account(user_id)」の引数を指定 -->
                            </tr>
                            <!-- <tr>
                            <td>ID</td>
                            <td>{{session['username']}}</td> -->
                            <!-- ↓↓↓formhelpers:8行目の説明にある通常のテンプレートでパイプを使用する例↓↓↓ -->
                            <!-- session['username']|upper　※大文字でsessionに登録している -->
                            <!-- <td>{{session['email']}}</td>
                            <td>管理者</td>
                            <td><a href="#">ブログ投稿数</a></td>
                            <td><a href="#" class="btn btn-secondary">変更</a></td>
                            </tr> -->
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <nav class="my-2" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- 【例】全体7ページで現在のページが4の場合の表示(「1,None,3,4,5,None,7」が返ってくる)= 前へ | 1 | … | 3 | 4 | 5 | … | 7 | 次へ -->
            <li {% if users.has_prev %}class="page-item"{% else %}class="page-item disabled"{% endif %}><a class="page-link" href="{% if users.has_prev %}{{ url_for('users.user_maintenance', page=users.prev_num) }}{% else %}#{% endif %}">前へ</a></li>
            <!-- <li>users(ページネーションオブジェクト).has_prev(属性)=前のページがあればpage-itemで表示、なければpage-item disabledで無効化 -->
            <!-- <a href>前のページがあればuser_maintenancceページへ飛ぶ(page=users.prev_numで前のページ番号を渡す)、なければ無効化されているためリンク不要 -->
            
            {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            <!-- ページネーションオブジェクトのメソッド：iter_pagesからページ番号を取得しpage_numへ格納する -->
            <!-- iter_pages(引数)=ページネーションオブジェクトのメソッド:ページネーションに表示するページ番号を返す -->
            <!-- users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) -->
            <!-- left_edge=左端に表示するページ数/right_edge=右端に表示するページ数/
                left_current=現在のページを起点として左に表示するページ数/right_current=現在のページを起点として右に表示するページ数
                ※currentはいずれも現在のページは含めない -->
                {% if page_num %}
                <!-- page_numに数字が格納されているか確認 -->
                    {% if users.page == page_num %}
                    <!-- ループで取得したページが現在のページと同じか確認※users.page=現在のページ -->
                        <li class="page-item disabled"><a class="page-link" href="#">{{ page_num }}</a></li>
                        <!-- 現在のページと同じであればdisabledで無効化して現在のページ番号を表示(リンクは不要のため#) -->
                    {% else %}
                    <!-- 現在のページと異なればページ番号を表示 -->
                        <li class="page-item"><a class="page-link" href="{{ url_for('users.user_maintenance', page=page_num)}}">{{ page_num }}</a></li>
                        <!-- 有効化してユーザー管理ページのURLを設定(ページ数は変数：page_numを指定) -->
                    {% endif %}
                {% else %}
                <!-- ページ番号に[None]が格納されている場合「…」を表示 -->
                    <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                    <!-- 「…」は特殊文字になるため「…」を表す[&hellip;]を記述する -->
                {% endif %}
            {% endfor %}

            <li {% if users.has_next %}class="page-item"{% else %}class="page-item disabled"{% endif %}><a class="page-link" href="{% if users.has_next %}{{ url_for('users.user_maintenance', page=users.next_num) }}{% else %}#{% endif %}">次へ</a></li>
            <!-- <li class="page-item"><a class="page-link" href="#">前へ</a></li>
            <li class="page-item"><a class="page-link" href="#">ページNo.</a></li>
            <li class="page-item"><a class="page-link" href="#">次へ</a></li> -->
        </ul>
    </nav>

{% endblock %}